* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid black;
  margin: 5px 8px;
}

h4 {
  text-align: center;
}

.table {
  margin: 5px auto;
}

.grid-container {
  margin: 5px 8px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
}

.item {
  height: 75px;
}

